[include]
        path = ~/.gitconfig.local
[core]
        excludesfile = ~/.gitignore
        editor = nvim
[init]
        defaultBranch = main
[alias]
        amend = commit --amend
        ap = add -p
        b = branch -vv
        bd = branch -D
        c = commit -v
        co = checkout
        cob = checkout -b
        cod = checkout develop
        com = checkout main
        count = shortlog -sn
        fo = fetch origin
        ignored = !git ls-files -v | grep "^[[:lower:]]"
        lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
        merges = merge --squash
        plo = pull origin
        prune-local = !git-delete-local-merged
        pso = push origin
        pushf = push --force-with-lease
        rank-contributors = !git-rank-contributors
        s = status
        wtf = !git-wtf
[color]
        branch = auto
        diff = auto
        status = auto
        ui = true
[apply]
        whitespace = nowarn
[branch]
        sort = -committerdate
[fetch]
        prune = true
[help]
        autocorrect = 1
[mergetool]
        keepBackup = false
[pull]
        rebase = true
[push]
        default = current
[rerere]
        enabled = true
[url "git@github.com:"]
        pushInsteadOf = https://github.com
[url "git@github.com:"]
        pushInsteadOf = git://github.com
